<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <nav class="container-fluid bg-primary text-white" >
        <div class="d-flex justify-content-between">
            <a href="/dashboard"><h1 class="text-warning">DoIt</h1></a>
            <a href="/show/products"><h6 class="text-white pt-3">Productos</h6></a>    
            <h6 class="pt-3">Hoy es el día que vas alcanzar tus metas, {{ user[0].first_name }}!!</h6>
            <a href="/show/user"><h6 class="text-white pt-3">Cuenta</h6></a>
            <a href="/logout"><h6 class="text-white pt-3">Cerrar Sesion</h6></a>
        </div>
    </nav>
    <main class="d-flex justify-content-between text-white m-3">
        <section class="bg-primary col-5 p-2">
            <form action="/process/update/user", method="POST">
                <input type="hidden" name="idUsers" value="{{user[0].idUsers}}">
                <table class="table text-white bg-primary">
                    <tr >
                        <td><label for="first_name">Nombre:</label></td>
                        <td><input type="text" name="first_name" value="{{ user[0].first_name }}"></td>
                    </tr>
                    <tr>
                        <td><label for="last_name">Apellido:</label></td>
                        <td><input type="text" name="last_name" value="{{ user[0].last_name }}"></td>
                    </tr>
                    <tr>
                        <td><label for="position">Título:</label></td>
                        <td> <input type="text" name="position" value="{{ user[0].position }}"></td>
                    </tr>
                    <tr>
                        <td><label for="company">Empresa:</label></td>
                        <td> <input type="text" name="company" value="{{ user[0].company }}"></td>
                    <tr>
                        <td><label for="department">Departamento:</label></td>
                        <td> <input type="text" name="department" value="{{ user[0].department }}"></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email:</label></td>
                        <td> <input type="text" name="email" value="{{ user[0].email }}"></td>
                    </tr>
                </table>
                <div class="text-end">
                    <input type="submit" value="Actualizar" class="btn btn-warning btn-sm">
                </div>
            </form>
        </section class="bg-p">
        <section class="bg-success p-2">
            <h6 class="border-bottom pb-2">Tus productos Terminados</h6>
            <table class="table table-borderless text-white">
                {% for row in product_finished %}
                    <form action="/process/unfinish/product" method="POST" class="form">
                    <input type="hidden" name="idProducts" value="{{row.idProducts}}">
                        <tr>
                            <td>
                                <input type="submit" value="Deshacer" class="btn btn-warning btn-sm">                                        
                            </td>
                            <td>
                                <label class="form-check-label">{{ row.title }}</label>
                            </td>
                        </tr>
                    </form>
                {% endfor %}
            </table>
        </section>

        </section>
    </main>
</body>
</html>